name: flutter_installer
description: Flutter Installer is an installer for Flutter built with Flutter.
version: 0.0.7+7
publish_to: none

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  # stacked
  stacked: ^2.1.1

  # third-party services
  stacked_services: ^0.8.5

  # navigation
  auto_route: ^2.0.2

  # inversion of control
  get_it: ^6.1.1
  injectable: ^1.3.0

  # icons
  font_awesome_flutter: ^9.0.0

  # ui
  percent_indicator: ^3.0.1
  flutter_markdown: ^0.6.1
  theme_mode_handler: ^3.0.0

  # accesses filesystem
  process_run: ^0.12.1
  path_provider: ^2.0.1
  shared_preferences: ^2.0.5

  # misc
  logger: ^1.0.0
  url_launcher: ^6.0.3
  http: ^0.13.2
  file_selector: ^0.8.2
  file_selector_windows: ^0.0.2
  file_selector_macos: ^0.0.4
  file_selector_linux: ^0.0.2
  window_size:
    git:
      url: git://github.com/google/flutter-desktop-embedding.git
      path: plugins/window_size
      ref: 85dde09b702a0cb1f5e1392d2f030bdc3d4e5be3
  async: ^2.5.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  # Generators
  build_runner: ^2.0.1
  auto_route_generator: ^2.0.1
  injectable_generator: ^1.3.0

flutter:
  uses-material-design: true

  assets:
    - assets/
    - assets/images/
    - assets/images/app_logos/
    - assets/misc/

  fonts:
    - family: Roboto
      fonts:
        - asset: assets/fonts/Roboto/Roboto-Regular.ttf
        - asset: assets/fonts/Roboto/Roboto-Bold.ttf
          weight: 700
    - family: RobotoMono
      fonts:
        - asset: assets/fonts/RobotoMono/RobotoMono-Regular.ttf
        - asset: assets/fonts/RobotoMono/RobotoMono-Medium.ttf
          weight: 500
        - asset: assets/fonts/RobotoMono/RobotoMono-Bold.ttf
          weight: 700
